/* css for erfgoed en locatie viewer */
/* colors */
/* font */
/* layout */
body {
  background-color: #cccccc; }

#rootContainer {
  width: 1024px;
  height: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px; }

#leftContainer {
  float: left;
  width: 384px;
  height: 768px; }

#rightContainer {
  float: right;
  width: 640px;
  height: 768px; }

.label {
  position: absolute;
  top: 50%;
  height: 1em;
  margin-top: -.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  color: #484c55;
  width: 100%; }

#mapPanel {
  position: relative;
  text-align: center;
  background: white;
  width: 374px;
  height: 364px;
  margin: 10px; }

#collectionsPanel {
  position: relative;
  text-align: center;
  background: white;
  width: 374px;
  height: 182px;
  margin: 10px; }

#subjectPanel {
  position: relative;
  text-align: center;
  background: white;
  width: 374px;
  height: 182px;
  margin: 10px; }

#resultsPanel {
  position: relative;
  text-align: center;
  background: white;
  position: relative;
  width: 620px;
  height: 642px;
  margin: 10px; }
  #resultsPanel .tile-0 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 10px;
    top: 10px;
    line-height: 170px; }
  #resultsPanel .tile-3 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 10px;
    top: 192px;
    line-height: 170px; }
  #resultsPanel .tile-6 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 10px;
    top: 374px;
    line-height: 170px; }
  #resultsPanel .tile-1 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 213.33333px;
    top: 10px;
    line-height: 170px; }
  #resultsPanel .tile-4 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 213.33333px;
    top: 192px;
    line-height: 170px; }
  #resultsPanel .tile-7 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 213.33333px;
    top: 374px;
    line-height: 170px; }
  #resultsPanel .tile-2 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 416.66667px;
    top: 10px;
    line-height: 170px; }
  #resultsPanel .tile-5 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 416.66667px;
    top: 192px;
    line-height: 170px; }
  #resultsPanel .tile-8 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 416.66667px;
    top: 374px;
    line-height: 170px; }
  #resultsPanel .thumbnail {
    max-width: 193.33333px;
    max-height: 172px;
    height: auto;
    vertical-align: middle; }
  #resultsPanel .caption {
    position: absolute;
    top: 129px;
    width: 193.33333px;
    height: 43px;
    line-height: 43px;
    color: white;
    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.6); }

#pager {
  position: absolute;
  width: 620px;
  height: 86px;
  top: 556px; }

#timePanel {
  position: relative;
  text-align: center;
  background: white;
  width: 620px;
  height: 96px;
  margin: 10px; }
