/* css for erfgoed en locatie viewer */
/* colors */
/* font */
/* layout */
body {
  background-color: #cccccc; }

#rootContainer {
  width: 1024px;
  height: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px; }

#leftContainer {
  float: left;
  width: 384px;
  height: 768px; }

#rightContainer {
  float: right;
  width: 640px;
  height: 768px; }

.label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #484C55;
  width: 100%; }

#mapPanel {
  text-align: center;
  background: white;
  width: 374px;
  height: 364px;
  margin: 10px; }

#collectionsPanel {
  text-align: center;
  background: white;
  width: 374px;
  height: 182px;
  margin: 10px; }

#subjectPanel {
  text-align: center;
  background: white;
  width: 374px;
  height: 182px;
  margin: 10px; }

#resultsPanel {
  text-align: center;
  background: white;
  position: relative;
  width: 620px;
  height: 636px;
  margin: 10px; }
  #resultsPanel .tile-0 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 10px;
    top: 10px; }
  #resultsPanel .tile-3 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 10px;
    top: 192px; }
  #resultsPanel .tile-6 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 10px;
    top: 374px; }
  #resultsPanel .tile-1 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 213.33333px;
    top: 10px; }
  #resultsPanel .tile-4 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 213.33333px;
    top: 192px; }
  #resultsPanel .tile-7 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 213.33333px;
    top: 374px; }
  #resultsPanel .tile-2 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 416.66667px;
    top: 10px; }
  #resultsPanel .tile-5 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 416.66667px;
    top: 192px; }
  #resultsPanel .tile-8 {
    position: absolute;
    background-color: #cccccc;
    width: 193.33333px;
    height: 172px;
    left: 416.66667px;
    top: 374px; }

#timePanel {
  text-align: center;
  background: white;
  width: 620px;
  height: 102px;
  margin: 10px; }
