/* css for erfgoed en locatie viewer */

/* colors */
$background_color: #ccc;
$panel_color: #fff;
$font_color: #484C55;
$key_color: white;
$value_color: yellow;

/* font */

/* layout */
//everything will be relative to root size..
$root_width: 1024px;
$root_height: 768px;
$margin_default: 10px;

//use golden ratio to split panels
//$gr: 1.6180339887;
$gr: 1.6;//aproximation for absolute pixels

$right_width: $root_width * (1/$gr);
$left_width: $root_width - $right_width;

//height of bottom zone
$bottom_height: ($root_height - $left_width) / 2;
$pager_height: ($bottom_height / 2) - $margin_default;

body
{
	background-color: $background-color;
	font: {
		family: 'Source Sans Pro', sans-serif;
		size: 1em;
	}
}

button, input, select, textarea 
{
	font-familiy: inherit;
	font-size: 100%;
}

#rootContainer 
{
	width: $root_width;
	height: $root_height;
	margin-left: auto;
	margin-right: auto;
	margin-top: $margin_default;
}

#leftContainer
{
	float: left;
	width: $left_width;
        height: $root_height;
}

#rightContainer
{
	float: right;
	width: $right_width;
	height: $root_height;
}

//style the panel labels
.label
{
	position: absolute;
	top: 50%;
	height: 1em;
	margin-top: -.5em;
	font: {
		family: 'Source Sans Pro', sans-serif;
		size: 1em;
	}
	color: $font_color;
	width: 100%;
	

}

.list
{
	
	color: $font_color;
	text-align: left;
	padding-left: $margin_default * 2;
	padding-top: $margin_default * 2;
}

.panelTitle
{
	font: {
		family: 'Source Sans Pro', sans-serif;
		size: 1.2em;
		weight: bold;
	}
	color: $font_color;
	text-align: left;
	padding-left: $margin_default * 2;
	padding-top: $margin_default * 2;
}

@mixin panel{
	position: relative;
	text-align: center;
	background: $panel_color;
}

#mapPanel
{
	@include panel;
	width: $left_width - $margin_default;
	height: $left_width - ($margin_default * 2);
	margin: $margin_default;
}


#collectionsPanel
{
	@include panel;
	width: $left_width - $margin_default;
	height: $bottom_height - $margin_default; 	
	margin: $margin_default;
}

#subjectPanel
{
	@include panel;
	width: $left_width - $margin_default;
	height: $bottom_height - $margin_default;
	margin: $margin_default;
}

#detailPanel
{
	@include panel;

	$panel_width: $right_width - ($margin_default * 2);
	$panel_height: $root_height - $bottom_height - ($margin_default * 2);	

	$tile_width: $panel_width - ($margin_default * 2);
	$tile_height: $panel_height ($margin_default * 2);	
	position: relative;
	width: $panel_width;
	height: $panel_height + $pager_height;//extend for controls 
	margin: $margin_default;

	#tile
	{
		position: absolute;
		width: $tile_width;
		height: $tile_height;
		top: $margin_default;
		left: $margin_default;
		background-color: $background_color;
		line-height: $panel_height - 2;//quirck
		
	}

	#close
	{
		position: absolute;
		top: $margin_default;
		left: $margin_default * 2;
		color:#fff;
		font-weight: bold;
		font-size: 1.6em;
		//background-color:rgba(0,0,0,0.6);

		a
		{
			color: #fff;
		}
	}

	.full
	{
		max-width: $tile_width;
		max-height: $tile_height;
		height: auto;
		vertical-align: middle;
	}

	.caption
	{
		//layout
		position: absolute;
		top: 0;
		$caption_width: $tile_width - ($tile_width * (1 / $gr));
		left: $tile_width - $caption_width;
		width: $caption_width - $margin_default;
		height: $panel_height - 2;//strange quirk
		
			
		//font (monospace)
		font-family: monospace;
		color: white;
		font-size: 1.2em;
		line-height: 1em;
		text-align: left;
		padding-left: $margin_default;

		//background
		background-color:rgba(0,0,0,0.6);

		//overflow
		text-overflow: ellipsis;
		overflow: hidden;
	}

	pre	
	{
		font-size: .7em;
		text-align: left;
		width: 100%;
		white-space: pre-wrap;

		.key
		{
			font-weight: bold;
			color:$key_color ;
		}

		.value
		{
			color: $value_color;
		}
	}

	a
	{
		font-weight: bold;
		color: $background_color;
		text-decoration: none;
		text-align: right;
		font-size: .8em;
	}
}


#resultsPanel
{
	@include panel;
	
	$panel_width: $right_width - ($margin_default * 2);
	$panel_height: $root_height - $bottom_height - ($margin_default * 2);	
	
	position: relative;
	width: $panel_width;
	height: $panel_height + $pager_height;//extend for controls 
	margin: $margin_default;

	//create a grid of 9 tiles (3x3)	
	$rows: 3;
	$columns: 3;

	$margin_tile: $margin_default * 1;

	$tile_width: ($panel_width - (($columns + 1) * $margin_tile))  / $columns;
	$tile_height: ($panel_height - (($rows + 1) * $margin_tile)) / $rows;

	@for $i from 1 through $rows
	{
		$x: $margin_tile + (($i - 1)*($tile_width + $margin_tile));
		@for $j from 1 through $columns
		{
			$y: $margin_tile + (($j - 1) * ($tile_height + $margin_tile));
			$index: (($j - 1) * $columns) + ($i - 1);
			
			.tile-#{$index}
			{
				position: absolute;
				background-color: $background_color;
				width: $tile_width;
				height: $tile_height;
				left: $x;
				top: $y;
				line-height: $tile_height - 2;//quirck
			}
		}
	}

	.thumbnail
	{
		max-width: $tile_width;
		max-height: $tile_height;
		height: auto;
		vertical-align: middle;
	}

	.caption
	{
		//layout
		position: absolute;
		$caption_height: $tile_height / 4;
		top: $caption_height * 3;
		width: $tile_width;
		height: $caption_height;
		line-height: $caption_height;

		//font
		color: white;
		font-size: 1em;
		//font (monospace)
		font-family: monospace;
		


		//background
		background-color:rgba(0,0,0,0.6);

		//overflow
		text-overflow: ellipsis;
		overflow: hidden;


	}
}

#pager
{
	$panel_width: $right_width - ($margin_default * 2);
	$panel_height: $root_height - $bottom_height - ($margin_default * 2);	
	
	position: absolute;
	width: $panel_width;
	height: $pager_height;
	top: $panel_height;

	a
	{
		font-weight: bold;
		color: $font-color;
		text-decoration: none;

	}
}

#timePanel
{
	@include panel;
	width: $right_width - ($margin_default * 2);
	height: $bottom_height - $margin_default - $pager_height;
	margin: $margin_default;
}

